@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto Mono', sans-serif;
    color: rgb(0, 0, 0);
    scroll-behavior: smooth;
    position: relative;
}
.navbar{
    padding: 0.8rem;
}
.navbar li{
    padding-right: 20px;
}
.navlink{
    font-size: 1.1em !important;
}
.carousel-caption{
    position: absolute;
    top: 30%;
}
.carousel-caption h1{
    font-size: 500%;
    font-weight: 700;
    text-transform: uppercase;
}
.carousel-caption h3{
    font-size: 200%;
    padding-bottom: 1rem;
}
.carousel-item img{
    width: 100%;
    height: 100%;
}
.carousel-item{
    height: 120vh;
    min-height: 300px;
    -webkit-background-size: cover;
    background-size: cover;
}
.btn-primary{
    border: 1px solid rgb(51, 65, 255)
}
.padding{
    padding-bottom: 2rem;
}
.intro{
    width: 75%;
    margin: 0 auto;
    padding-top: 3rem;
}
.intro hr{
    border-top: 2px solid #b4b4b4;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}
.fa-dice-d20, .fa-bitcoin, .fa-ethereum{
    font-size: 500%;
    margin: 30px;
}
.fa-dice-d20{
    color: rgb(0, 120, 233);
}
.fa-bitcoin{
    color: rgb(255, 187, 0);
}
.fa-ethereum{
    color: rgb(102, 0, 185);
}
.social i{
    font-size: 500%;
    margin: 3rem;
    padding: 0;
}
.fa-facebook{
    color: rgb(0, 11, 160);
}
.fa-youtube{
    color: rgb(218, 0, 0);
}
.fa-instagram{
    color: rgb(190, 0, 149);
}
.fas, .fab{
    transition: all .5s; 
}
.fas:hover, .fas:active{
    filter: brightness(200%);
}
.fab:hover, .fab:active{
    filter: brightness(200%);
}

footer{
    background-color: rgb(34, 34, 34);
    color: #d1d1d1
}
hr.light{
    border-top: 1px solid #b4b4b4;
    width: 75%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}
hr.light-100{
    border-top: 1px solid #b4b4b4;
    width: 100%;
    margin-top: 1.6rem;
    margin-bottom: 1rem;
}




@media(max-width: 992px){
    .carousel-caption{
        top: 30%;
    }
    .carousel-caption h1{
        font-size: 500%;
        font-weight: 700;
    }
    .carousel-caption h3{
        font-size: 200%;
        padding-bottom: 1rem;
    }
}
@media(max-width: 768px){
    .carousel-caption{
        top: 20%;
    }
    .carousel-caption h1{
        font-size: 300%;
        font-weight: 600;
    }
    .carousel-caption h3{
        font-size: 100%;
        padding-bottom: 0.7rem;
    }
    .carousel-caption .btn{
        font-size: 80%;
        padding: 8px;
    }
}
@media(max-width: 576px){
    .carousel-caption{
        top: 10%;
    }
    .carousel-caption h1{
        font-size: 200%;
        font-weight: 500;
    }
    .carousel-caption h3{
        font-size: 80%;
        padding-bottom: 0.5rem;
    }
    .carousel-caption .btn{
        font-size: 60%;
        padding: 6px;
    }
}

[class*="col-"]{
    padding: 1rem;
}